* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    /* Apply only while checking pin example */
}

body {
    overflow-x: hidden;
}

/* Example 1
#page1, #page2, #page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1 {
    background-color: lightseagreen;
}

#page2 {
    background-color: lightblue;
}

#page3 {
    background-color: salmon;
}

#box {
    width: 200px;
    height: 200px;
    background-color: crimson;
} */

/* Example 2 (Pin example) */

#page1, #page3 {
    width: 100%;
    height: 100%;
}

#page1 {
    background-color: black;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#page3 {
    background-color: black;
}

h1 {
    font-size: 40vw;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 10%;
}